body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: brown;
    border-style: solid;
    width: 600px;
    height: 600px;
}

.row-container {
    display: flex;
    flex: 1;

}

.square {
    display: flex;
    flex: 1;
    border: 1px solid black;
}