h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#video-game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: red;
    border-radius: 20px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: brown;
    border-style: solid;
    width: 500px;
    height: 500px;
}

.row-container {
    display: flex;
    flex: 1;

}

.square {
    display: flex;
    flex: 1;
    border: 1px solid black;
    background-color: aliceblue;
}


#button-container {
    display: flex;
    gap: 20px;
}

button{
    font-size: 20px;
    background-color: white;
}
